<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section id="about" class="section light-background">
        <div class="container">
            <div class="content">
                
                <h2>Algorithm Behind</h2>
                <p>YOLOv8 (You Only Look Once v8) is the latest and most advanced version of the YOLO family, designed for real-time object detection, segmentation, and classification. Developed by Ultralytics, YOLOv8 is optimized for speed, accuracy, and efficiency, making it a perfect choice for AI-powered vision applications like road defect detection, surveillance, and automation.</p>
                <a href="https://yolov8.com/" class="read-more">Read More</a>
            </div>
            <div class="features">
                <div class="feature-box">
                    <h3>Pothole Detection</h3>
                </div>
                <div class="feature-box">
                    <h3>Crack Detection</h3>
                </div>
                <div class="feature-box">
                    <h3>We are Dependable</h3>
                    <p>Accuracy of our model is 93%</p>
                </div>
                <div class="feature-box">
                    <h3>We are Swift</h3>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
