<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section id="team" class="section light-background">
        <div class="container2">
            <h2>Our Team</h2>
            <div class="team-members">
                <div class="member">
                    <img src="/static/images/nodpp.jpeg" alt="Shivangi Kumari">
                    <h4>Shivangi Kumari</h4>
                    <span>Member 1</span>
                </div>
                <div class="member">
                    <img src="/static/images/nodpp.jpeg" alt="Saachi Dobhal">
                    <h4>Saachi Dobhal</h4>
                    <span>Member 2</span>
                </div>
                <div class="member">
                    <img src="/static/images/nodpp.jpeg" alt="Stuti Varshney">
                    <h4>Stuti Varshney</h4>
                    <span>Member 3</span>
                </div>
                <div class="member">
                    <img src="/static/images/nodpp.jpeg" alt="Hansika Mittal">
                    <h4>Hansika Mittal</h4>
                    <span>Member 4</span>
                </div>
                <div class="member">
                    <img src="/static/images/nodpp.jpeg" alt="Aarohi Agarwal">
                    <h4>Aarohi Agarwal</h4>
                    <span>Member 5</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
